/* style.css
/*******************************/
/* Name: Connor Farrenden
/* Course: SENG2050 - Assignment 2
/* Student Number: c3374676 
*/

body {
    font-family: Verdana, Geneva, Tahoma;
    padding-left: 10px;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-size: 25px;
    font-family:'Times New Roman', Times, serif;
    color: black;
    
}

h3 {
    font-family: Verdana, Geneva, Tahoma;
    font-size: 16px;
}

p {
    font-family: Verdana, Geneva, Tahoma;
    margin-bottom: 20px;
}